* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #1a0b2e;
}
header {
  background: #1a0b2e;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 100px;
}
.header ul {
  display: flex;
  gap: 1rem;
}
.header ul li {
  list-style: none;
}
.header ul a {
  text-decoration: none;
  color: #fff;
}

.hero {
  background: url("./assets/hero-bg.png");
  height: calc(100vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  margin: 0 auto;
}
.img_container {
  background: url("./assets/hero-circle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  border-radius: 50%;
  position: relative;
}
.new {
  position: absolute;
  top: 10px;
  right: 40px;
  color: #000;
  background: #00ff88;
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: bold;
}

.hero_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: #fff;
}
.hero_contents h2 {
  font-size: 60px;
}
.hero_contents p {
  font-size: 16px;
  padding: 8px 0px 24px 0px;
}
.btn_container {
  display: flex;
  gap: 1rem;
}
.btn_1 {
  padding: 8px 20px;
  font-size: 18px;
  outline: none;
  border-radius: 22px;
  cursor: pointer;
  background: linear-gradient(80deg, #f7e93f, #fb09b4, #9100f8);
  color: #fff;
  border: none;
}
.btn_2 {
  padding: 8px 20px;
  font-size: 18px;
  outline: none;
  border-radius: 22px;
  cursor: pointer;
  background: transparent;
  color: #00ff88;
  border: 1px solid #00ff88;
}
